@import "tailwindcss";

:root {
  --background: #1c1b21;
  --buttons-bg:#27272c;
  --secondary-color:#00ff99;
}
::-webkit-scrollbar {
  width:8px;
  background-color: var(--background); 
}
::-webkit-scrollbar-thumb{
  border-radius:10px;
  background:var(--secondary-color)
}
@theme inline {
  --color-background: var(--background);
  --color-secondary:var(--secondary-color);
  --color-secondaryBg:var(--buttons-bg);
  --font-jetbrains-mono:var(--font-jetbrains-mono)
}

body{
  background-color: var(--background);
}
.container{
  @apply max-w-[1200px] mx-auto p-5
}
.burger-button::after,.burger-button::before{
  content:"";
  width:100%;
  height: 2px;
  background-color: var(--secondary-color);
  display: block;
  position: absolute;
  left:0;
}
.burger-button::after{
  bottom:0;
}
.burger-button::before{
  top:0;
}
.skill:hover{
  color:var(--secondary-color)
}
.skill:hover span{
  opacity:1;
  z-index:1;
}